.card-styles {
    width: 280px;
    text-align: center;
}

.cards-section {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.card {
    width: 23%;
}

.jumbotron-section {
    background: whitesmoke;
    margin: 0px 15px;
    padding: 30px 0px;
}

.jumbotron {
    padding-right: 50px;
    padding-left: 50px;
}


/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
